button{
    padding: 10px 18px;
    background-color: #1DA1F2;
    border-radius: 4px;
    color: white;
    border: none;
    transition: 0.3s;
    // margin-left: 185px;
    margin-top: 5px;
}

button:hover{
    background-color: #20729b;
    border-color:  #1DA1F2;
    
}